# **Pandas**

## What is Pandas?
Pandas is a powerful, open-source Python library used for:

Data analysis

Data manipulation

Data cleaning

Loading and saving data

Itâ€™s built on top of NumPy and provides two main data structures:

Series â†’ One-dimensional labeled array

DataFrame â†’ Two-dimensional labeled table (like Excel or SQL table)

> ðŸ“Œ Pandas is like Excel in Python â€” but more powerful, flexible, and scriptable.

In [1]:
import pandas as pd

ðŸ”¹ Why Pandas over Lists/NumPy?
|Feature|	Lists/NumPy|	Pandas|
|-----|----|----|
Labels	|Not Supported|	Supported
Handling Missing Data|	Hard|	Easy (NaN support)
SQL-like operations	|No	|Yes (merge, groupby)
File I/O	|Not supported|	Easy (read_csv, etc.)

# Core Data stracture

#### 1. Series
A one-dimensional labeled array

In [2]:
s = pd.Series([10,20,30])
print(s)

0    10
1    20
2    30
dtype: int64

#### 2. DataFrame
A 2D table (rows + columns)

In [ ]:
data = {
    'Name': ['Ganesh', 'Saswat', 'krishna'],
    'Age': [25, 30, 35]
}

df = pd.DataFrame(data)
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [6]:
companies = {
    'Name': ['Alphabate', 'Meta', 'Apple'],
    'Products': ["YouTube", "Instagram", "Iphone"]
}

df = pd.DataFrame(companies)
print(df)

        Name   Products
0  Alphabate    YouTube
1       Meta  Instagram
2      Apple     Iphone