# Pandas DataFrame Basics
### What is a DataFrame?
A DataFrame is a 2-dimensional labeled table â€” think of it like:

 * An Excel spreadsheet

 * A SQL table

 * Or a collection of Series (each column is a Series)

### **Creating a DataFrame**

#### 1. From a dictionary of lists:

In [1]:
import pandas as pd

data = {
    'Name': ['Riya', 'Sardha', 'Alia'],
    'Age': [25, 30, 35],
    'City': ['Delhi', 'Mumbai', 'Chennai']
}

df = pd.DataFrame(data)
print(df)

     Name  Age     City
0    Riya   25    Delhi
1  Sardha   30   Mumbai
2    Alia   35  Chennai