# Pandas DataFrame Basics
### What is a DataFrame?
A DataFrame is a 2-dimensional labeled table â€” think of it like:

 * An Excel spreadsheet

 * A SQL table

 * Or a collection of Series (each column is a Series)

### **Creating a DataFrame**

#### 1. From a dictionary of lists:

In [1]:
import pandas as pd

data = {
    'Name': ['Riya', 'Sardha', 'Alia'],
    'Age': [25, 30, 35],
    'City': ['Delhi', 'Mumbai', 'Chennai']
}

df = pd.DataFrame(data)
print(df)

     Name  Age     City
0    Riya   25    Delhi
1  Sardha   30   Mumbai
2    Alia   35  Chennai

#### 2.From a list of dictionaries:

In [4]:
list_Of_dictionary = [{'Name': 'Sai pallavi','Age':35},{'Name': 'Rasmita','Age':29}]
df = pd.DataFrame(list_Of_dictionary)
print(df)

          Name  Age
0  Sai pallavi   35
1      Rasmita   29

#### ðŸ”¹ Inspecting DataFrame
Command|	Description|
-------|--------|
`df.head(n)`	|First n rows
`df.tail(n)`	|Last n rows
`df.shape`	|Rows Ã— Columns
`df.columns`	|Column names
`df.index`	|Row indices
`df.dtypes`	|Data types of columns
`df.info()`	|Full summary
`df.describe()`	|Statistical summary (numeric cols)

### **Accessing Data**

Access a Column (Series):

In [5]:
df['Name']      # OR

0    Sai pallavi
1        Rasmita
Name: Name, dtype: object

In [6]:
df.Name         # Only if the column name has no space/special char

0    Sai pallavi
1        Rasmita
Name: Name, dtype: object

**Access Rows:**

In [7]:
df.iloc[0]     # First row (by position)

Name    Sai pallavi
Age              35
Name: 0, dtype: object

In [8]:
df.loc[0]      # Row with index label 0

Name    Sai pallavi
Age              35
Name: 0, dtype: object

#### Access Cell (Value at row, column):

In [ ]:
df.at[0, 'Name']     # By label

'Sai pallavi'

In [11]:
df.iat[0, 0]         # By position

'Sai pallavi'

### ðŸ”¹ Modifying DataFrame

In [18]:
df2 = pd.DataFrame()
df2['Country'] = ['India', 'India', 'India']
print(df2)

  Country
0   India
1   India
2   India

##### Modify a Value:

In [20]:
df2.at[1, 'City'] = 'Pune'
print(df2)

  Country  City
0   India   NaN
1   India  Pune
2   India   NaN

#### Drop Column or row

In [21]:
df2.drop('City', axis=1, inplace=True)  # Drop column
print(df2)

  Country
0   India
1   India
2   India

In [23]:
df2.drop(1, axis=0, inplace=True)       # Drop row with index 1
print(df2)

  Country
0   India
2   India

#### Rename columns:

In [25]:
df2.rename(columns ={'Name':'FullName'},inplace = True)
print(df2)

  Country
0   India
2   India